body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldest,legend,input,textarea,p,th,blockquote,td{
    margin:0;padding:0;
    outline: none;
}
a{
    text-decoration: none;  
    color:black;
}
ul{
    list-style:none;
}
.top {
	height: 2.7rem;
	width: 5.0rem;
	background-color: #F8F8F8;
	overflow: hidden;
}
.top-setting{
	overflow: hidden;
	margin-bottom: 0.066667rem;
}
.top-setting .goback, .want, .commend{
	margin: 0.233333rem 0.133333rem;
	margin-bottom: 0;
	height: 0.4rem;
	width: 0.4rem;
	float: left;
}
.top-setting .want, .commend{
	float: right;
	margin-left: 0rem;
}
.top-setting .want {
	margin-right: 0.133333rem;
}
.top-setting i {
	vertical-align: text-top;
	font-size: 0.25rem;
	color: #828282;
}
.con {
	width: 4rem;
	margin: 0 auto;
	overflow: hidden;
}
.con .con-pic {
	width: 1.333333rem;
	height: 1.7777778rem;
	background: url('/static/img/nocover.jpg');
	background-size: 100% 100%;
	float: left;
	margin-right: 0.266667rem;
	overflow: hidden;
}
.con .con-pic img{
	width: 1.333333rem;
	height: 1.7777778rem;
}
.con .con-word {
	float: left;
}
.con-word .title {
	max-width: 2.333333rem;
	font-size: 18px;
	margin-bottom: 0.133333rem;
}
.con-word .dowmload {
	height: 0.366667rem;
	width: 0.666667rem;
	border-radius: 0.133333rem;
	background-color: #FF9800;
	line-height: 0.366667rem;
	text-align: center;
	font-size: 14px;
	color: #fff;
	margin-bottom: 0.133333rem;
}
.con-word .clasify {
	font-size: 14px;
	margin-bottom: 0.133333rem;
}
.con-word .wordnumber {
	font-size: 14px;
	color: #9d9d9d;
}
.brief{
	border-bottom: 0.133333rem solid #F8F8F8;
}
.brief .brief-title, .coment .coment-title{
	font-size: 18px;
	padding: 0.233333rem;
	padding-bottom: 0;
}
.brief .brief-content {
	font-size: 14px;
	color: #636363;
	padding: 0.233333rem;
	padding-bottom: 0.3;
}
.coment-content-in {
	margin-top: 20px;
	border-bottom: 0.013333rem solid #F8F8F8;
	padding: 0.266667rem;
	padding-top: 0;
}
.user {
	width: 4.733333rem;
	height: 0.666667rem;
}
.user-head {
	width: 0.666667rem;
	height: 0.666667rem;
	border-radius: 50%;
	background: url('/static/img/defaultuserhead.png');
	float: left;
	margin-right: 0.133333rem;
	overflow: hidden;
	background-size: 100% 100%;
}
.user-head-in{
	width: 0.666667rem;
	height: 0.666667rem;
	border-radius: 50%;
	background-size: 100% 100%;
}
.user-name {
	float: left;
	color: #0f47ce;
	font-size: 14px;
	height: 0.666667rem;
	line-height: 0.666667rem;
}
.coment-content-in-word {
	font-size: 14px;
	padding-left: 0.8rem;
	margin-bottom: 0.133333rem;
}
.coment .time {
	padding-left: 0.8rem;
	font-size: 14px;
	color: #9d9d9d;
}
.comenteditbg{
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
.comentedit{
	position: fixed;
	bottom: 0;
	background-color: #f9f9f9;
	width: 100%;
}
.comentedit-textarea{
	height: 0.7rem;
	width: 3.733333rem;
	background-color: #fff;
	border-radius: 2px;
	resize: none;
	border: 1px solid #dcdcdc;
	padding: 0.133333rem;
	font-size: 14px;
	float: left;
	margin: 0.133333rem;
}
.comentbt{
	width: 0.566667rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	margin-top: 0.733333rem;
	font-size: 16px;
	float: left;
	color: #2890A8;
}
.contentword {
	color: #c7c7c7;
	font-size: 14px;
	text-align: center;
	margin-top: 0.4rem;
}