body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldest,legend,input,textarea,p,th,blockquote,td{
    margin:0;padding:0;
    outline: none;
}
a{
    text-decoration: none;  
    color:black;
}
ul{
    list-style:none;
}
.loading{
    height: 0.1rem;
    margin: 0.133333rem auto 0.666667rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading span{
    display: inline-block;
    width: 0.12rem;
    height: 0.12rem;
    margin-right: 0.066667rem;
    border-radius: 50%;
    background: #c7c7c7;
    -webkit-animation: load 1.04s ease infinite;
}
.loading span:last-child{
    margin-right: 0px; 
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
        -webkit-transform: scale(1.3);
    }
    100%{
        opacity: 0.2;
        -webkit-transform: scale(.3);
    }
}
.loading span:nth-child(1){
    -webkit-animation-delay:0.13s;
}
.loading span:nth-child(2){
    -webkit-animation-delay:0.26s;
}
.loading span:nth-child(3){
    -webkit-animation-delay:0.39s;
}
.loading span:nth-child(4){
    -webkit-animation-delay:0.52s;
}
.loading span:nth-child(5){
    -webkit-animation-delay:0.65s;
}
.over {
	display: none;
	padding: 0.133333rem;
	color: #c7c7c7;
	font-size: 12px;
	background-color: #F8F8F8;
	text-align: center;
}
.contentword {
	color: #c7c7c7;
	font-size: 14px;
	text-align: center;
	margin-top: 0.4rem;
}
.content {
	position: relative;
	padding: 0.266667rem;
	overflow: hidden;
	border-bottom: 0.133333rem solid #F8F8F8;
}
.content-top {
	height: 0.666667rem;
}
.content-top .content-top-user {
	float: left;
	width: 2.5rem;
}
.content-top .content-top-user .content-top-user-head {
	height: 0.666667rem;
	width: 0.666667rem;
	background:url('/static/img/defaultuserhead.png');
	background-size: 100% 100%;
	border-radius: 50%;
	float: left;
	margin-right: 0.133333rem;
}
.content-top .content-top-user .content-top-user-head-in {
	height: 0.666667rem;
	width: 0.666667rem;
	background-size: 100% 100%;
	border-radius: 50%;
	margin-right: 0.133333rem;
}
.content-top .content-top-user .content-top-user-name {
	font-size: 14px;
	margin-bottom: 0.066667rem;
}
.content-top .content-top-user .content-top-user-time {
	font-size: 12px;
	color: #7C7C7C;
}
.content-top .content-top-concern {
	border-radius: 0.066667rem;
	width: 1.066667rem;
	height: 0.4rem;
	border: 0.013333rem solid #FF9800;
	color: #FF9800;
	font-size: 14px;
	line-height: 0.4rem;
	text-align: center;
	float: right;
	margin-top: 0.12rem;
}
.content-footer {
	font-size: 14px;
	color: #C0C0C0;
	margin-top: 0.533333rem;
}
.content-footer i{
	display: inline-block;
	transition: all 0.2s;
	margin-right: 0.066667rem;
}
.content-footer .share, .content-footer .coment, .content-footer .like{
	float: left;
	width: 1.466667rem;
}
.content-footer .coment {
	text-align: center;
}
.content-footer .coment i{
	vertical-align: middle;
}
.content-footer .like {
	text-align: right;
}
.like-active {
	color: #FF9800;
}
.content-user-word, .content-original-word{
	font-size: 14px;
	margin: 0.133333rem 0;
}
.content-pic {
	height: 1.333333rem;
	width: 4.266667rem;
	background-color: #F8F8F8;
}
.delete {
	height: 0.366667rem;
	width: 0.366667rem;
	position: absolute;
	right: 0.253333rem;
}
.delete i {
	vertical-align: text-top;
	font-size: 0.266667rem;
	color: #C0C0C0;
}