<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="//at.alicdn.com/t/font_1158423_gmdvkgxsgnc.css">
	<link rel="stylesheet" href="../static/css/book.css">
	<script src="../static/js/lib-flexible.min.js"></script>
</head>
<body style="font-size: 24px;">
	<div class="main">
		<div class="top">
			<div class="top-setting">
				<div class="goback" id="goback">
					<i class="iconfont icon-jiantouarrowhead7"></i>
				</div>
				<div class="commend">
					<i class="iconfont icon-pinglun"></i>
				</div>
				<div class="want">
					<i class="iconfont icon-aixin"></i>
				</div>
				
			</div>
			<div class="con">
				<div class="con-pic">
					<img src="/static/bookcover/{{title}}.jpg" alt="">
				</div>
				<div class="con-word">
					<div class="title">{{title}}</div>
					<a href="/static/book/{{title}}.txt" download={{title}}><div class="dowmload">下载</div></a>
					<div class="clasify">{{btype}}</div>
					<div class="wordnumber">作者：{{author}}</div>
				</div>
			</div>
		</div>
		<div class="brief">
			<div class="brief-title">
				简介
			</div>
			<div class="brief-content">
				{{brief}}
			</div>
		</div>
		<div class="coment">
			<div class="coment-title">
				<span>评论</span>
				(<span class="coments-count"></span>)
			</div>
			<div class="coment-content">
				
			</div>
		</div>
		<div class="comenteditbg">
			<div class="comentedit">
				<textarea class="comentedit-textarea" placeholder="写评论..."></textarea>
				<div class="comentbt">发送</div>
			</div>
		</div>
	</div>
	<script src="//code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="../static/js/book.js"></script>
</body>
</html>