<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>书城</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_1158423_5qi9a4ajgds.css">
	<link rel="stylesheet" href="../static/css/bookstores.css">
	<script src="../static/js/lib-flexible.min.js"></script>
</head>
<body style="font-size: 24px;">
	<div class="main" data-role="page">
		<div class="banner">
			<img src="/static/img/banner.jpg" alt="">
		</div>
		<div class="content">
			
		</div>
		<div class="loading">
			<span></span>
	        <span></span>
	        <span></span>
	        <span></span>
	        <span></span>
		</div>
		<div class="over">
			已经刷到底了哦～～
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="../static/js/bookstores.js"></script>
</body>
</html>