<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>有感正文</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="//at.alicdn.com/t/font_1158423_rpwv1805fsm.css">
	<link rel="stylesheet" href="../static/css/idealcontent.css">
	<script src="../static/js/lib-flexible.min.js"></script>
</head>
<body style="font-size: 24px">
	<div class="main">
		<div class="content">
			<div class="content-top">
					<div class="content-top-user">
						<div class="content-top-user-head">
							<div class="content-top-user-head-in" style="background:url({{userhead}})"></div>
						</div>
						<div class="content-top-user-name">{{username}}</div>
						<div class="content-top-user-time"></div>
					</div>
					
				</div>
				<div class="content-word" data-id=${data.idealid}>
					<div class="content-user-word">
						{{content}}
					</div>
					<div class="content-original-word">
						{{quote}}
					</div>
				</div>
		</div>
		<div class="comments" >
			
			<div class="comments-title">
				<div class="comments-title-comment">评论 <span class="coments-count"></span></div>
				<div class="comments-title-like">点赞 <span class="likecount">{{likecount}}</span></div>
			</div>
			<div id="comments"></div>
			
		</div>
		<div class="bottom">
			<div class="share">
				<i class="iconfont icon-fenxiang"></i>
				<span>分享</span>
			</div>
			<div class="coment">
				<i class="iconfont icon-pinglun"></i>
				<span>评论</span>
			</div>
			<div class="like">
				<i class="iconfont icon-dianzan"></i>
				<span>点赞</span>
			</div>
		</div>
		<div class="comenteditbg">
			<div class="comentedit">
				<textarea class="comentedit-textarea" placeholder="写评论..."></textarea>
				<div class="comentbt">发送</div>
			</div>
		</div>
	</div>
	<script>
		var time = {{time}};
		var idealuserid = "{{userid}}";
	</script>
	<script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="../static/js/idealcontent.js"></script>
</body>
</html>