<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>兴趣标签</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="//at.alicdn.com/t/font_1158423_dz525cmusi6.css">
	<link rel="stylesheet" href="../static/css/likeclassify.css">
	<script src="../static/js/lib-flexible.min.js"></script>
</head>
<body style="font-size: 24px;">
	<div class="main" >
		<div class="top">
			<div class="goback">
				<i class="iconfont icon-jiantouarrowhead7"></i>
			</div>
			<div class="title">兴趣标签</div>
			<div class="button">
				编辑
			</div>
		</div>
		<div class="mine">
			<div class="mine-title">我的兴趣</div>
			<div class="mine-content">
				
			</div>
		</div>
		<div class="classify">
			<div class="classify-title">所有分类</div>
			<div class="classify-content">
				<div class="item">玄幻奇幻</div>
				<div class="item">武侠仙侠</div>
				<div class="item">女频言情</div>
				<div class="item">现代都市</div>
				<div class="item">历史军事</div>
				<div class="item">游戏竞技</div>
				<div class="item">科幻灵异</div>
				<div class="item">美文同人</div>
				<div class="item">剧本教程</div>
				<div class="item">名著杂志</div>
			</div>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="../static/js/likeclassify.js"></script>
</body>
</html>