<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>搜索结果</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_1158423_5qi9a4ajgds.css">
	<link rel="stylesheet" href="../static/css/bookstores.css">
	<script src="../static/js/lib-flexible.min.js"></script>
</head>
<body style="font-size: 24px;">
	<div class="main">
		<div class="search" data-role="header">
			<i class="iconfont icon-sousuo"></i>
			<input type="text" class="search-input" placeholder="热门推荐：XXX">
		</div>
		<div class="content">
			<div class="book">
				<a href="http://baidu.com">
					<div class="pic">
						<img src="" alt="">
					</div>
					<div class="word">
						<div class="title">随身带个狩猎空间</div>
						<div class="brief">卢泽穿越到了两千年后的星际时代。前身自带常年秀恩爱虐狗的父母和可爱的妹妹，虽然修炼天...</div>
						<div class="author">青空洗雨</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="../static/js/search.js"></script>
</body>
</html>